
    <header>
        <div class="logo">ESMALTAÊ</div>
        <nav>
            <a href="/home">Home</a>
            <a href="/quemsomos">Quem Somos</a>
            <a href="/formulario">Agendamento</a>
        </nav>
    </header>




<div class="quem-somos-page">

    <div class="about-us">
        <h1>Quem Somos</h1>
        <p>
            Na <strong>Esmaltaê</strong>, oferecemos serviços de manicure e pedicure que vão além do cuidado com as unhas.
            <br>Nossa missão é proporcionar bem-estar, beleza e autoestima para cada cliente. <br>Trabalhamos com produtos de alta
            qualidade e seguimos rigorosamente as normas de higiene para garantir sua segurança e satisfação.
        </p>
    </div>

    <div class="gallery">
        <h2>Conheça nossos trabalhos</h2>
        <div class="gallery-grid">
            <div class="gallery-item">
                <img src="/img/unhas03.jpeg" alt="Manicure colorida">
                <p>Esmaltação com design exclusivo</p>
            </div>
            <div class="gallery-item">
                <img src="/img/fran.jpeg" alt="Unhas francesinhas">
                <p>Unhas francesinhas elegantes</p>
            </div>
            <div class="gallery-item">
                <img src="/img/pedicure.jpeg" alt="Pedicure com hidratação">
                <p>Pedicure com hidratação profunda</p>
            </div>
            <div class="gallery-item">
                <img src="/img/along.jpeg" alt="Pedicure artística">
                <p>Alongamento para todos os gostos</p>
            </div>
        </div>
    </div>
</div>